<!-- https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse -->
<!DOCTYPE html>
<script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 1;

    function init() {

        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);

        // board();
    }

    // function board() {
    //     prevX = 100;
    //     prevY = 0;
    //     currX = 100;
    //     currY = 300;
    //     draw();

    //     prevX = 200;
    //     prevY = 0;
    //     currX = 200;
    //     currY = 300;
    //     draw();

    //     prevX = 0;
    //     prevY = 100;
    //     currX = 300;
    //     currY = 100;
    //     draw();

    //     prevX = 0;
    //     prevY = 200;
    //     currX = 300;
    //     currY = 200;
    //     draw();
    // }

    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }

    function erase() {
        ctx.clearRect(0, 0, w, h);
        // board();
    }

    function save() {
        var dataURL = canvas.toDataURL();
        const xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://127.0.0.1:8080/", true);
        xhttp.responseType = "blob";
        xhttp.onload = function(e) {
            createImageBitmap(this.response).then(function (imageBitmap) {
                ctx.drawImage(imageBitmap, 0, 0);
            });
        }

        xhttp.send(dataURL);
    }

    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }

</script>

<body onload="init()">
    <img id="board", src="board.png" style="position:absolute;top:40px;left:40px;border:0px solid;"/>
    <canvas id="can" width="300" height="300" style="position:absolute;top:40px;left:40px;border:0px solid;"></canvas>
    <input type="button" value="end turn" id="btn" size="30" onclick="save()"
        style="position:absolute;top:350px;left:110px;">
    <input type="button" value="clear" id="clr" size="23" onclick="erase()"
        style="position:absolute;top:350px;left:220px;">
</body>

</html>